@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poiret One", sans-serif;
}
img {
  height: 220px;
  width: 600px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 50px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#about {
  margin-left: 100px;
  height: 100%;
}
#about1 {
  margin-left: 100px;
  height: 100%;
}
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(17, 17, 17);
  background: white;
}

header h1 {
  font-size: 4rem;
}
header h2 {
  font-size: 1.75rem;
  text-align: center;
}

a {
  color: white;
  margin: 1rem;
}

.wrapper {
  font-family: "Comfortaa", sans-serif;
  display: flex;
}

#about {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 100vh;
  background: rgb(255, 255, 255);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  overflow: hidden;
}

.scroll {
  width: 50%;
  color: white;
  z-index: 0;
}

.p1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pic-left {
  margin-top: 40%;
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pic-left3 {
  margin-top: 20%;
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pic-right3 {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.picRight1 {
}
.scroll div {
  display: flex;
  flex-direction: row;

  height: 100vh;
}

.scroll div > h2 {
  width: 80%;
  text-align: center;
}

.scroll div > p {
  width: 80%;
}

.scroll div:nth-child(1) {
  background: white;
}

.scroll div:nth-child(2) {
  background: white;
}

.scroll div:nth-child(3) {
  background: white;
}
.footerlink {
  display: flex;
  padding-top: 100px;
}
footer {
  margin-top: 100px;
  height: 100vh;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  border-top: 1px solid black;
}
.icon {
  color: black;
}

.mindset {
  width: 55ch;
  animation: typing 4s steps(55), blink 0.5s step-end infinite alternate;

  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.link {
  color: #000;
  text-decoration: none;
  margin: 0;
}

.link:hover {
  color: rgba(0, 0, 0, 0.433);
  text-decoration: none;
  margin: 0;
}
.h3Info {
  color: rgb(0, 0, 0);
  width: 60px;

  margin-bottom: 10px;
  font-weight: 10;
}
.h2Style {
  background-color: rgba(0, 0, 0, 0.919);
  color: white;
  align-self: center;
  padding: 10px;
  margin-top: 200px;
  text-align: center;
}
.infoText {
  padding: 20px;
  background-color: white;
  color: black;
}

.revealUp {
  opacity: 0;
  visibility: hidden;

  color: rgb(0, 0, 0);
}
.spacer {
  height: 50vh;
  background-color: #000;
}
h1 {
  font-family: Mr Dafoe, sans-serif;
  font-size: 36em;
  text-align: center;
  text-shadow: 0 -3px 0 #333, 0 6px 8px rgba(0, 0, 0, 0.4),
    0 9px 10px rgba(0, 0, 0, 0.15), 0 30px 10px rgba(0, 0, 0, 0.18),
    0 15px 10px rgba(0, 0, 0, 0.21);
}
.project {
  background-color: #000;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100px;
}
#project {
  background-color: #000;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100px;
}
